.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.feedback {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 200px;
}

.feedback-header,
.feedback-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
